{% extends "main.html" %}

{% block content %}

  <h3>Welcome to Notoriously Unsafe Airlines</h3>
  <p>We offer notoriously unsafe (but very, very cheap) flights from Louisville, KY to either Miami, Florida or Las Vegas, Nevada</p>
  <br><br>
  <p>Please Select "Pick A Flight" in the Nav bar above to choose your final destination<p>
  <br><br>
  <p>Below you will see a picture of one our innovative aircrafts that will get you where you need to go</p>
  <img src="\images\airplane.png"/>
  
  
  
  
{% endblock %}